.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: $background-team;
}
.team__list {
  display: flex;
}

.team__item {
  display: block;
  border-color: $white-color;
  box-shadow: 0px 1px 3px $section-team, 0px 1px 1px $section-team-rgb,
    0px 2px 1px $section-team-color;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: $white-color;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__img {
  display: block;
}

.team__features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__text {
  display: block;
  margin-bottom: 10px;

  font-family: "Roboto";
  color:$titels-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__desc-text {
  font-family: "Roboto";
  color:$text-color;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}
.social-block {
  display: flex;
  justify-content: center;
}

.social-block__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
&:hover,
&:focus {
  background-color: $blue-color;
  fill: $white-color;
}
}


.social-block__item + .social-block__item {
  margin-left: 10px;
}
.social-block__item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
