.page-hero-list {
  display: flex;
  flex-wrap: wrap;
}

.page-hero-item {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.text {
  display: block;

  font-family: "Roboto";
  color: $titels-color;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.headline {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color:$text-color;
}
.page-text {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.page-hero-item:nth-child(3n) {
  margin-right: 0;
}
.page-hero-link {
  position: relative;
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-link:hover,
.page-hero-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.page-hero-cover {
  display: block;
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-hero-text {
  position: absolute;
  display: block;
  top: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.page-hero-link:hover .text-overlay,
.page-hero-link:focus .text-overlay {
  transform: translateY(0);
}
.page-hero-link:hover .page-hero-text,
.page-hero-link:focus .page-hero-text {
  opacity: 1;
}

.hero-image {
  display: block;
}
