
.footer-list{
  @media screen and (max-width: 1200px) {
    display: block;
    margin-bottom: 60px;
  }
}
.footer-address{
  display: block;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}

.footer__items:not(:last-child) {
  margin-bottom: 9px;
}
.footer__map {
  
  font-family: "Roboto";
  color: $white-color;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  

  &:hover {
    color: $blue-color;
  }
  
}

.footer__link {
  width: 200px;

  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:hover {
    color: $blue-color;
  }
  
}
