.footer__items:not(:last-child) {
  margin-bottom: 9px;
}
.footer__map {
  width: 231px;

  font-family: "Roboto";
  color: $white-color;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__map:hover {
  color: $blue-color;
}
.footer__link {
  width: 200px;

  font-family: "Roboto";
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__link:hover {
  color: $blue-color;
}
