.logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway";
  color: $blue-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.accent {
  font-family: "Raleway";
  color: $white-color;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
