.section-header {
  display: flex;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.navigation{
  display: flex;
}


.header {
  background-color: $white-color;
  border-bottom: 1px solid #ececec;
}
.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $titels-color;
  text-decoration: none;
}
.header__accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
  text-decoration: none;
 
}
