.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      
  }
  @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: flex-start;
}}
.navigation{

      display: none;
      @media screen and (min-width: 768px) {
          display: block;
      }
    }



.header {
  background-color: $white-color;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
 
}
    

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $titels-color;
  text-decoration: none;
}
.header__accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $blue-color;
  text-decoration: none;
 
}
