
$blue-color: #2196F3;
$titels-color: #212121;
$text-color: #757575;
$white-color: #ffffff;
$address-color: rgba(255, 255, 255, 0.6);
$background-team: #F5F4FA;
$shadow-color: rgba(0, 0, 0, 0.15);
$background-hero-section: #2F303A;
$border-color: #EEEEEE;
$filter-background-color: #F5F4FA;
$border-color-icon: #AFB1B8;
$portfolio-background-color: rgba(33, 150, 243, 0.9);
$section-do: rgba(47, 48, 58, 0.8);
$section-team:rgba(0, 0, 0, 0.12);
$section-team-rgb:rgba(0, 0, 0, 0.14);
$section-team-color:rgba(0, 0, 0, 0.2);


   
               
.visually-hidden { position: absolute;
               white-space: nowrap;
               width: 1px;
               height: 1px;
               overflow: hidden;
               border: 0;
               padding: 0;
               clip: rect(0 0 0 0);
               clip-path: inset(50%);
               margin: -1px;}
             
             